body{
  text-align: center;
}

input {
  width: 70%;
}

#filter {
  display: block;
  margin-bottom: 10px;
  margin: auto;
}

#hobby-img {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  border: 3px solid grey;
}


img {
  width: 460px;
  height: 50%;
  display: inline-block;
}

#img1 {
    display: inline-block;
    margin-top: 10px;
    width: 51%;
    height: 50%;
    margin-bottom: 42px;
    
}

#img2 {
    width: 48%;
    height: 518px;
    display: inline-block;
    margin-bottom: -140px;
    margin-top: 10px;
}

#img3 {
    display: inline-block;
    margin-top: 10px;
    width: 51%;
    height: 50%;
    margin-bottom: 42px;
    
}

#img4 {
     width: 48%;
    height: 518px;
    display: inline-block;
    margin-bottom: -140px;
    margin-top: 10px;
    
}

/*!importantがないと優先度が負けて普通に表示される*/
.hide {
  display: none !important;
}